/* navigation */
#navbar{
    flex-direction: column;
    color: chartreuse;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 5px 5px 5px 5px;
}

/* home section */

#home {
    height:821px;
    padding: 4px 0px;
}
#home::before{
    content: "";
    height: 812px;
    
}
#home p{
    font-size: 1.3rem;
}

/* service section */

#service {
    flex-direction: column;
}
#service .box{

}
#service .box img{
    width: 141px;
    height: 100px;
}
#service-container{
    top : -43px;
    width: 100%;
}
/* contact section*/

/* footer */
 
/* utility classes */
.h-primary{
    font-size: 1.3rem;
    padding: 11px 0px 0px 0px;
}


